@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0f7fa;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container {
    display: flex;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card .content  {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    transform: bottom .5s;
    transition-delay: .8s;
}

.card:hover .content {
    bottom: 0px;
}

.card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 1.1em;
    transition: .5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: .6s;
}

.card:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateY(0px);
}

ul.sci {
    display: flex;
    position: relative;
}

ul.sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: .5s;
    transition-delay: calc(.2s * var(--i));
}

.card:hover .content .sci li {
    list-style: none;
    transform: translateY(0px);
    opacity: 1;
    transition-delay: calc(0.2s * var(--i)) ;
}

.card .content .sci li a {
    color: #fff;
    font-size: 24px;
}

