@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #d41e31, #491f8f);
}

.card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: .5s;
}

.card:hover img {
    left: 80%;
    height: 500px;
}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: 1.2rem;
}

.card .content p {
    color: #fff;
}

.card .content a {
    position: relative;
    border-radius: 10px;
    padding: 10px 20px;
    background: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

@media (max-width: 991px) {
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: .5s;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }

    .card:hover img {
        left: 50%;
        height: 350px;
    }
    .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card:hover .content {
        opacity: 1;
        visibility: visible;

    }
}

@media (max-width: 420px) {
    .card .content {
        padding: 30px;
    }
    .card:hover img {
        height: 350px;
    }
}