body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container .content {
    position: relative;
    max-width: 600px;
    padding: 50px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.container .content::before {
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(10px);
}

.content h2 {
    text-transform: uppercase;
    position: relative;
    margin: 0 0 20px;
    font-size: 40px;
    padding: 0;
    z-index: 2;
}
.content p {
    position: relative;
    margin: 0;
    font-size: 20px;
    padding: 0;
    z-index: 2;
}