body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
}

.layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./bg_2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.layer1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    background-image: url('./bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    z-index: 1;
    transition: 2s;
}

.layer1:hover ~ .layer2 {
    filter: blur(10px);
}

.layer1:hover {
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}