body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.imgBx {
    position: relative;
    width: 400px;
    height: 400px;
}

.imgBx img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: left;
}

.imgBx:hover img:nth-child(1) {
    transition: 4s;
    transition-delay: 1s;
    transform: translateX(50px);
    opacity: 0;
    filter: blur(10px);
}

.imgBx img:nth-child(2) {
    width: 1200px;
    height: 400px;
    transform: translateX(400px) scaleX(0);
    transform-origin: left;
}

.imgBx:hover img:nth-child(2) {
    transition: 5s;
    transform: translateX(-400px) scaleX(1);
}