body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./bg_marvel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

#card {
    position: absolute;
    width: 400px;
    height: 500px;
    transform-style: preserve-3d ;
    transform: perspective(500px);
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background: url('./iron_man.png');
    background-size: cover;
}
.back {
    background: url('./captain_america.png');
    background-size: cover;
    transform: rotateY(180deg);
}